  <h1>Words of Wisdom</h1>

<h2>Wise People:</h2>
  <% if @parsed %>
    <% @parsed.each do |product| %>
      <p><%= link_to product.fetch(:name), "/authors/#{product.fetch(:id)}" %></p>
    <% end %>
  <% else %>
  <p>There are no wise authors yet.</p>
  <% end %>
